/* Root Colors */

:root {
    --main-bg-color: #ececec;
    --main-color: #ff7171;
    --second-color: #ffaa71;
    --third-color: #343a40;
}

#bodyDiv {
    border-right: 1px solid black;
}

#img26 {
    margin-left: 7em;
    margin-top: 3em;
}

#title1 {
    margin-top: unset;
    padding-top: unset;
}

body {
    background-color: var(--third-color);
}

input {
    border: 0;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding: 0 10px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    outline: none;
    font-family: "Roboto";
    font-size: 15px;
    background: none;
}

input[type="radio"] {
    height: 16px;
    width: 16px;
    display: inline;
    text-align: left;
    top: 3px;
    position: relative;
}

input:focus {
    border-bottom: 1px solid #2996cc;
    color: #2996cc;
}

label {
    margin: 0;
    font-family: "Roboto";
}

button {
    border: 1px solid #000;
    background: none;
    outline: none;
}

button:active {
    border-color: #2996cc;
    color: #2996cc;
}

textarea {
    width: 90%;
    border: 1px solid #000;
    height: 100px;
    margin-right: 1px;
    background: none;
    padding: 0 10px;
}

div {
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
}

.col1 {
    font-family: "Roboto";
    flex: 1;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 1.5em;
    padding-bottom: 25px;
}

h1,
h2,
h3 {
    font-family: "Roboto";
    padding-bottom: 5px;
    font-weight: bold;
    padding-top: 5px;
}

.col2 {
    display: grid;
    grid-template-areas: "profile" "experience" "education" "skills" "licenses";
}

.secondary {
    display: grid;
    grid-template-areas: "profile" "education" "experience" "skills" "licenses"!important;
}

.profile,
.experience,
.education,
.skills,
.licenses {
    display: grid;
    grid-template-columns: repeat(auto-fill minmax(200px, 2fr));
}

.col2 {
    background: #FFF;
}


/**THEMES**/

.default {
    padding: 10px;
}


/***ROBOT THEME***/

.robot {
    padding: 25px;
}

h1 {
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    padding-top: 25px;
}

hr {
    width: 80%;
    border: .75px solid #000;
}

p {
    font-size: 1.1em;
    text-align: center;
    font-family: "Roboto";
    padding-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

div {
    background: #FFF;
    padding: 10px;
    font-size: 1.1em;
    font-family: "Roboto";
    width: 80%;
    margin: 0 auto;
}


/***CLEAN THEME ****/

.clean {
    padding: 25px;
}

h1 {
    font-size: 2em;
    font-family: "Oxygen";
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: "Oxygen";
    text-align: center;
    padding-top: 25px;
}

hr {
    width: 80%;
    border: 0;
}

p {
    font-size: 1.1em;
    text-align: center;
    font-family: "Muli";
    padding-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

div {
    background: #FFF;
    padding: 10px;
    font-size: 1.1em;
    font-family: "Muli";
    width: 80%;
    margin: 0 auto;
}

@media print {
    /* All your print styles go here */
    body {
        font-size: 70%;
    }
    .container {
        overflow: auto;
    }
    .col1 {
        display: none !important;
    }
}