:root {
    --main-bg-color: #ececec;
    --main-color: #ff7171;
    --second-color: #ffaa71;
    --third-color: #343a40;
}

#logo-bg {
    fill: green;
}

#bg-img {
    width: 100%;
}

#card-daniel {
    text-align: right;
    margin-left: auto;
}

.card {
    background-color: var(--second-color) !important;
}

body {
    background-color: var(--main-color);

}

footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    /* height: 2.5rem;   */
    text-align: center;
    background-color: var(--main-color);
}


/* main {
    height: 100%;
} */

.center1 {
    /* margin:auto; */
    text-align: center;
}

.border1 {
    border-top: 1px solid var(--third-color);
    border-bottom: 1px solid var(--third-color);
}

.border2 {
    margin-top: 10px;
}

.btn1 {
    width: 50%;
    float: left;
    border-radius: 0;
}

.bg-primary1 {
    background-color: var(--main-color) !important;
    padding-left: 10px;
    padding-right: 10px;
}

.color1 {
    color: var(--third-color) !important;
}

.btn-outline-secondary {
    background-color: var(--second-color);
}

@media only screen and (max-width: 720px) {
    #aboutContainer1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: unset !important;
    }
    #aboutContainer2 {
        display: flex;
        flex-direction: column;
        /* height: unset !important; */
    }
    #aboutContainer3 {
        height: unset !important;
    }
    footer {
        bottom: unset;
    }
    #card-daniel{
        margin-top: 10em;
        max-width: unset !important;
    }
    #card-roy{
        max-width: unset !important;

    }
}