<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Lora|Oxygen|Roboto|Roboto+Slab|Ovo|Muli' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/CvApp.css">
</head>

<body>

    <div ng-app data-ng-init="name=''">

        <div id="bodyDiv" class="col1">

            <img id="img26" src="img/logo.svg " width="50" height="50" class="d-inline-block align-top " alt=" " loading="lazy ">
            <h1 id="title1"><u>DynamicCV App</u> </h1>
            <h3>Display order</h3>
            <input type="radio" name="theme" ng-model="theme" value="default" selected checked>Experience First<br />
            <input type="radio" name="theme" ng-model="theme" value="secondary" selected checked>Education First<br />


            <h3>Profile</h3>
            <input type="text" ng-model="yourName" data-ng-bind="name" placeholder="Name" value="Ryan Trimble" class="floatlabel">
            <input type="text" ng-model="city" placeholder="City" class="floatlabel">
            <input type="text" ng-model="phoneNumber" placeholder="Phone Number" class="floatlabel">
            <input type="text" ng-model="emailAddress" placeholder="Email Address" class="floatlabel">
            <input type="text" ng-model="linkedIn" placeholder="LinkedIn" class="floatlabel">
            <input type="text" ng-model="website" placeholder="Website/Portfolio" class="floatlabel">

            <h3>Mission Statement</h3>
            <textarea ng-model="mission" placeholder="Mission" class="floatlabel"> </textarea>


            <h3>Experience</h3>

            <input type="text" ng-model="jobYear1" placeholder="Start and end date" class="floatlabel" id="jobYear1">
            <input type="text" ng-model="employer1" placeholder="Employer" class="floatlabel" id="employer1">
            <input type="text" ng-model="jobTitle1" placeholder="Job Title" class="floatlabel" id="jobTitle1">
            <input type="text" ng-model="location1" placeholder="Location" class="floatlabel" id="location1">
            <input type="text" ng-model="shortDescription1" placeholder="Job Description" class="floatlabel" id="shortDescription1">
            <!-- <button type="button" onclick="addWorkSection('exp')" class="submitButton">Add Section</button> -->



            <h3>Education</h3>
            <input type="text" ng-model="yearStudy" placeholder="Start and end year" class="floatlabel">
            <input type="text" ng-model="school" placeholder="School" class="floatlabel">
            <input type="text" ng-model="degree" placeholder="Degeree" class="floatlabel">
            <!-- <input type="text" ng-model="yearStudy" placeholder="Start and end year" class="floatlabel"> -->


            <h3>Skills</h3>
            <input type="text" ng-model="skill" placeholder="Enter your Skills" class="floatlabel">

            <h3>Licenses & Certifications</h3>
            <input type="text" ng-model="yearCert" placeholder="Start and end year" class="floatlabel">
            <input type="text" ng-model="cert" placeholder="Certification Title" class="floatlabel">


        </div>
        <div class="col2 default {{theme}}">
            <div class=profile>
                <h1>{{yourName}}</h1>
                <p>{{city}}</p>
                <p>{{phoneNumber}}</p>
                <p><a href="mailto:{{emailAddress}}">{{emailAddress}}</a></p>
                <p><a href="{{linkedIn}}">{{linkedIn}}</a></p>
                <p><a href="{{website}}">{{website}}</a></p>
                <hr />
                <h2>Mission</h2>
                <div>{{mission}}</div>
                <hr />
            </div>
            <div class="experience">
                <h2>Experience</h2>
                <div class="expSection">
                    <p>{{jobYear1}}</p>
                    <p>{{employer1}}</p>
                    <p>{{jobTitle1}}</p>
                    <p>{{location1}}</p>
                    <p>{{shortDescription1}}</p>
                </div>
            </div>
            <div class="education">
                <h2>Education</h2>
                <div class="eduSection">
                    <p>{{yearStudy}}</p>
                    <p>{{school}}</p>
                    <p>{{degree}}</p>
                </div>
            </div>
            <div class="skills">
                <h2>Skills</h2>
                <p>{{skill}}</p>
            </div>
            <div class="licenses">
                <h2>Licenses & Certifications</h2>
                <p>{{cert}}</p>
                <hr />
            </div>
            <input type="button" value="Print/Download your CV" onClick="window.print()">
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="./js/CvApp.js"></script>
</body>

</html>